html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media only screen and (min-width: 768px){
    #container {
        width: 50vw;
        height: 50vh;
        overflow:hidden;
        display:flex;
        justify-content: space-evenly;
    }


    .legend {
        display:flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .indicator {
        width: 3em;
        height: 2em;
        border-radius: 0.25em;
        margin: 0.25em 0.25em 0 0.25em;
        opacity: 0.75;
    }

    .indicator_wrapper {
        display:flex;
        justify-content: end;
        align-items: center;
    }

    .indicator_wrapper span {
        display: block;
        font-weight: bolder;
        font-family: sans-serif;
        width: 2em;
    }

}

@media only screen and (max-width: 767px) {
    #container {
        width: 90vw;
        height: 90vh;
        overflow:hidden;
        display:flex;
        flex-direction: column;
    }

    .legend {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
    }

    .indicator {
        width: 3em;
        height: 2em;
        border-radius: 0.25em;
        margin-left: 0.25em;
        margin-right: 0.2em;
        opacity: 0.75;
    }

    .indicator_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


}



.no_events {
    pointer-events: none;
}

.slider_container {
    height: fit-content;
}

